/* @Author: Marte
* @Date:   2017-11-13 10:44:26
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-12 14:37:32
*/
ul, li, a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 首页的css样式 */
.shouyeleft {
  position: absolute;
  width:130px;
/*  width:6.7%;*/
  height: 100%;
  left: 0;
  background: #26313a;
  /*min-height: 860px; */
}

.shouyeleft .list-group a.active {
  background-color: #162224;
  color: #12d4ed;
}

.shouyeleft .list-group a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 52px;
  border: 0;
  border-radius: 0;
  color: #fff;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #26313a;
  line-height:32px;
}

.shouyeleft .list-group a img{
  /* display:inline-block; */
  vertical-align:middle;
}

.shouyeleft .list-group span {
  position: absolute;
  left: 50px;
  font-size:12px;
}

.xsyc .shouyeleft {
  position: absolute;
  left: -130px;
}

.xsyc .shouyetop {
  position: relative;
  height: 77px;
  background: #f5f5f5;
  margin-left: 0px;
}

.xsyc .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-left: 0px;
  background: #eee;
  z-index: -1;
}

.xsyc .quanxian {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-left: 0px;
  background: #eee;
  z-index: -1;
}

.shouyetop {
  position: relative;
  top: 0px;
  /* width:100%; */
  height: 77px;
  background: #f5f5f5;
  margin-left: 130px;
  z-index: 0;
}

.shouyeleft .syltop {
  height: 77px;
  width: 100%;
  border-bottom: 1px solid #aaa;
  background-color:#26313a;
  padding:0;
  margin:0;
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
}
.shouyeleft .syltop a{
  line-height:0;
}

.shouyetop .sytleft {
  position: absolute;
  top: 16px;
 /* left: 10px;*/
  left:1%;
}

.shouyetop .sytright {
  position: absolute;
  right:0;
/*  width:270px;*/
/*  width:14%;*/
  min-width:250px;
  height: 100%;
}

.sytright .xz {
  position: absolute;
  top: 14px;
  left: 0;
}

.sytright span {
  position: absolute;
  /*left: 26%;*/
  left:70px;
  top: 28px;
  font-size: 14px;
}

.sytright span a {
  position: absolute;
  right: -28px;
 /* left:91px;*/
  top: 7px;
}

.geren {
  position: absolute;
  right: 78px;
  width: 120px;
  height: 150px;
  background: gold;
  z-index: 0;
  display: none;
}

.geren span {
  position: absolute;
  font-size: 14px;

}

.geren span a {
  color: white;
  text-decoration: none;
}

.geren .yhm img {
  position: absolute;
  right: 3%;
  top: 35px;
}

.geren .yhm span {
  left: 14%;
  top: 28px;
}

.geren .grxx span {
  left: 18%;
  top: 68px;
}

.geren .aqtc span {
  left: 18%;
  top: 108px;
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-left: 130px;
  background: #eee;
  z-index: -1;
}
.logo .symk{
  width: 100%;
  height: 100%;
  position: relative;
}
.logo .symk ul li img {
  position: absolute;
  left: 12%;
}

@media screen and (min-width: 1500px){
  .logo .symk ul {
    position:relative;
    width:47.2%;
    height:43.5%;
    left:26.6%;
    top:34.6%;
    min-width:200px;
    min-height:270px;
  }
  .logo .symk ul li img {
   position: absolute;
  left: 20px;
    top:36px;
  display: inline-block;
  width: 51px;
  height:54px;
}
  .logo .symk ul li span {
  position: absolute;
  left: 37%;
  top: 42%;
}
}

@media (min-width: 1260px) and (max-width:1500px){
  .logo .symk ul {
    position:relative;
    width:57.2%;
    height:43.5%;
    left:20.6%;
    top:34.6%;
    min-width:200px;
    min-height:220px;
  }

  .logo .symk ul li img {
   position: absolute;
  left: 20px;
    top:36px;
  display: inline-block;
  width: 51px;
  height:54px;
}

  .logo .symk ul li span {
  position: absolute;
  left: 36%;
  top: 42%;
}
}

@media (min-width: 900px) and (max-width:1260px){
  .logo .symk ul {
    position:relative;
    width:67.2%;
    height:43.5%;
    left:16.6%;
    top:34.6%;
    min-width:200px;
    min-height:220px;
  }

  .logo .symk ul li img {
   position: absolute;
  left: 20px;
    top:36px;
  display: inline-block;
  width: 51px;
  height:54px;
}

.logo .symk ul li span {
  position: absolute;
  left: 35%;
  top: 42%;
}
}

@media screen and (max-width:900px){
   .logo .symk ul {
    position:relative;
    width:87.2%;
    height:43.5%;
    left:6.6%;
    top:34.6%;
    min-width:200px;
    min-height:220px;
  }

  .logo .symk ul li img {
   position: absolute;
  left: 20px;
    top:36px;
  display: inline-block;
  width: 51px;
  height:54px;
}

.logo .symk ul li span {
  position: absolute;
  left: 35%;
  top: 42%;
}
}

.logo .symk ul li {
  position: relative;
  background: #fff;
  /*width:240px;*/
  width:calc(50% - 30px);
  height: 126px;
  font-size: 20px;
  border-radius:10px;
  float: left;
}

.row{
  height:50%;
}

.logo .symk ul .l1 {
  top: 0;
 /* padding:0;*/
  margin-right: 30px;
  margin-bottom: 50px;
 /* left: 0;*/
}

.logo .symk ul .l2 {
  top: 0;
  margin-left: 30px;
  margin-bottom: 50px;
 /* right: 0;*/
}

.logo .symk ul .l3 {
  bottom:0;
  margin-right: 30px;
}

.logo .symk ul .l4 {
  bottom:0;
  margin-left: 30px;
}

.logo ul .l1 img, .logo ul .l2 img {
  top: 28%;
}

.logo ul .l3 img, .logo ul .l4 img {
  top: 18%;
}

/* 级别管理模态框 */
.modal-dialog {
  position: relative;
  top: 20%;
}

.modal-content {
  height: 300px;
   box-shadow:none;
   border: 0;
}
.modal-title{
  font-size:14px;

}
.modal-dialog .modal-header {
  height: 50px;
  background-color: #e3e3e3;
  line-height: 40px;
  text-align: left;
  padding-top: 15px;
  font-size: 14px;
  border: 0;
  border-radius: 5px 5px 0 0;
  box-shadow:none;
  color:#333;
}

.modal-body {
  height: 140px;
}

.modal-body .input-group {
  padding-top: 75px;
  font-size:14px;
}

.input-group-addon {
  position: relative;
  left: 80px;
  border: 0;
  background-color: #fff;
  color:#333;
}

.input-group .form-control {
  position: relative;
  left: 80px;
  width: 260px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  border: 1px solid #b6b6b6;
}
.input-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}

.modal-footer {
  border-top: 0;
  position:relative;
  top:25px;
  font-size:16px;
}

.modal-footer .btn-default, .modal-footer .btn-default:active {
  background-color: #e3e3e3;
  width: 80px;
  position: relative;
  left: -90px;
  border: 0;
  outline: none;
  box-shadow: none;
  height:40px;
  padding:0px;
  font-size:16px;
}

.modal-footer .btn-primary, .modal-footer .btn-primary:active {
  background-color: #f8bd0a;
  width: 80px;
  position: relative;
  left: -80px;
  border: 0;
  outline: none;
  box-shadow: none;
  height:40px;
  padding:0px;
  line-height: 40px;
  font-size:16px;
}

.sc {
  position: relative;
  top: 0px;
  left: 200px;
  font-size:16px;
}

/* 角色管理模态框部分样式*/
#myModaljs02 .modal-dialog .modal-header {
  height: 40px;
  background-color: #eee;
  line-height: 40px;
  text-align: left;
  padding-top: 10px;
  font-size: 12px;
  border: 0;
  border-radius: 0;
}

#myModaljs .modal-dialog .modal-header {
  border-radius: 0;
}

#myModaljs02 .modal-body {
  height: 140px;
}

#myModaljs02 .modal-body .input-group {
  padding-top: 80px;
  /* margin:0 20% 0 20%; */
  width: 100%;
  text-align: center;
}


/* 开关按钮css样式 */
.div1 {
  width: 40px;
  height: 24px;
  border-radius: 70px;
  position: absolute;
/*  left: 62.5%;
  top: 40%;*/
  cursor:pointer;
}

.div2 {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  position: absolute;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.open1 {
  background: #12d4ed;
}

.open2 {
  top: 2px;
  right: 1px;
}

.close1 {
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-left: transparent;
  /*  background-color: #green; */
}

.close2 {
  left: 2px;
  top: -1px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/* 个人信息页的样式 */
.logo .grzx {
  position: relative;
  width: 100%;
  height: 100px;
  top: 60px;

}

.logo .grxx {
  position: absolute;
  width: 96%;
  left: 2%;
  height: 50px;
  top: 25px;
  z-index: 111;
  color: white;
  font-size: 14px;
  background-color: #444;
  line-height: 50px;
  padding-left: 20px;
}

.logo .grxx a {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 1%;
  height: 50px;
}

.logo .grxx img {
  display: block;
  width: 50px;
  height: 50px;
}

.logo .bd {
  position: relative;
  width: 100%;
  min-height: 700px;
  top: 60px;
  background-color: #eee;
}

.logo .bdform {
  position: relative;
  width: 96%;
  left: 2%;
  height: 10%;
  min-height: 500px;
  background-color: white;
}

.logo form {
  position: absolute;
  top: 60px;
  left: 100px;
}

.logo .bdform form a {
  position: relative;
  display: inline-block;
  left: 80px;
  width: 100px;
  height: 100px;
}

body .logo .bdform form a img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
}

.logo form input {
  position: relative;
  left: 20px;
  width: 200px;
}

.logo form input.an {
  position: relative;
  /*  bottom:10px; */
  left: 230px;
  top: 10px;
  width: 60px;
  height: 30px;
  min-width: 55px;
  background-color: gold;
  color: white;
  box-shadow: none;
  border-radius: 5px;
  border: none;
}

.logo form span:nth-child(1) {
  position: absolute;
  top:50px;
}
.logo form span{
  position: relative;
  display:inline-block;
  width:78px;
}

.logo form div {
  position: absolute;
  top: -6px;
  right: 14px;
  color: red;
}

.logo form div.bjtx {
  position: absolute;
  color: white;
  width: 100px;
  height: 40px;
  left: 130px;
  top: 60px;
  text-align: center;

}

/* 头像编辑 */
.logo form div.tj {
  position: absolute;
  color: white;
  width: 500px;
  height: 40px;
  left: -55px;
  top: 140px;
  text-align: center;
  color: #bbb;
}

.logo form span.fileinput-button{
  position: relative;
  left: 100px;
  top: 0px;
  display: inline-block;
  overflow: hidden;
  width: 100px;
  height:100px;
  margin:0;
  padding:0;
  background-color:#fff;
  border: 0;
}
.logo form span.fileinput-button span{
  position:relative;
  top:0;
  left:0;
}

.fileinput-button input#input-b5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height:100px;
  opacity: 0;
  /* -ms-filter: 'alpha(opacity=0)'; */
  font-size: 100px;
  cursor:pointer;
}
.fileinput-button input#input-b5:hover{
  cursor:pointer;
}
.fileinput-button img{
  position:relative;
  display:inline-block;
  width: 100px;
  height:100px;
  border-radius:50px;
}
.logo form input.sc {
  position: relative;
  /* bottom:10px; */
  left: 110px;
  top: 70px;
  width: 80px;
  height: 26px;
  min-width: 55px;
  background-color: #719ca2;
  color: white;
  box-shadow: none;
  border-radius: 5px;
  border: none;
}
.logo form input.bc {
  position: relative;
  left: 28px;
  top: 150px;
  width: 80px;
  height: 36px;
  min-width: 55px;
  background-color: #fcbe00;
  color: white;
  box-shadow: none;
  border-radius: 5px;
  border: none;
}


